In [1]:
import sys

sys.path.insert(0, '../src/')

In [2]:
from data.dataload import DataLoad

In [4]:
dl = DataLoad()

In [5]:
df = dl.load_data('train_dataset_name')

In [6]:
df

        Unnamed: 0  target  ...  NumeroDeVezes60-89DiasAtrasoNaoPior  NumeroDeDependentes
0                0       1  ...                                    0                  2.0
1                1       0  ...                                    0                  1.0
2                2       0  ...                                    0                  0.0
3                3       0  ...                                    0                  0.0
4                4       0  ...                                    0                  0.0
...            ...     ...  ...                                  ...                  ...
149995      149995       0  ...                                    0                  0.0
149996      149996       0  ...                                    0                  2.0
149997      149997       0  ...                                    0                  0.0
149998      149998       0  ...                                    0                  0.0
149999      149999       0  ...                                    0                  0.0

[150000 rows x 12 columns]